<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Liste des Accessoires</title>

	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />

	<script src="webjars/jquery/3.5.1/jquery.min.js"></script>
	<script src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>

<body>

	<!-- Barre de navigation -->

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

		<a class="navbar-brand" href="#">
			Gestion Accessoires
		</a>

		<ul class="navbar-nav">

			<li class="nav-item">
				<a class="nav-link" th:href="@{ListeAccessoires}">
					Home
				</a>
			</li>

			<li class="nav-item dropdown">

				<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">

					Accessoires

				</a>

				<div class="dropdown-menu">

					<a class="dropdown-item" th:href="@{showCreate}">

						Ajouter

					</a>

				</div>

			</li>

		</ul>

	</nav>

	<!-- Contenu -->

	<div class="container mt-5">

		<div class="card">

			<div class="card-header">
				Liste des Accessoires
			</div>

			<div class="card-body">

				<table class="table table-striped">

					<thead>

						<tr>

							<th>ID</th>
							<th>Désignation</th>
							<th>Tarif</th>
							<th>Date d'ajout</th>
							<th>Couleur</th>
							<th>Actions</th>

						</tr>

					</thead>

					<tbody>

						<tr th:each="a:${accessoires.content}">

							<td th:text="${a.codeAcc}"></td>

							<td th:text="${a.designation}"></td>

							<td th:text="${a.tarif}"></td>
							<td th:text="${#dates.format(a.dateAjout, 'dd/MM/yyyy')}"></td>

							<!-- Couleur -->

							<td th:if="${!#strings.isEmpty(a.couleur)}" th:text="${a.couleur.nomCoul}">
							</td>

							<td th:if="${#strings.isEmpty(a.couleur)}" th:text="${'Pas de Couleur'}">
							</td>

							<!-- Actions -->

							<td>

								<a class="btn btn-success btn-sm" th:href="@{modifierAccessoire(id=${a.codeAcc})}">

									Editer

								</a>

								<a class="btn btn-danger btn-sm"
									onclick="return confirm('Etes-vous sûr de vouloir supprimer cet accessoire ?')"
									th:href="@{supprimerAccessoire(id=${a.codeAcc}, page=${currentPage}, size=${size})}">

									Supprimer

								</a>

							</td>

						</tr>

					</tbody>

				</table>

				<!-- Pagination -->

				<ul class="nav nav-pills">

					<li th:each="page,status:${pages}">

						<a th:class="${status.index == currentPage ? 'btn btn-primary' : 'btn'}"
							th:href="@{ListeAccessoires(page=${status.index}, size=${size})}" th:text="${status.index}">

						</a>

					</li>

				</ul>

			</div>

		</div>

	</div>

</body>

</html>
```